<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Early Warning Score" ng-controller="PatientsEWSCtrl as _this">
    <ion-nav-buttons side="right">
        <button class="button icon-left ion-log-out button-positive" ng-click="logout()"></button>
    </ion-nav-buttons>
    <ion-nav-back-button></ion-nav-back-button>
    <ion-header-bar class="bar-subheader item-input-inset">
        <span ng-class="patientGender(_this.vitalsPatDetail)">
            <div>
             {{_this.vitalsPatDetail.patient._surname | uppercase }}, {{_this.vitalsPatDetail.patient._forename | titleCase}}
                </div>
           <div>
               <div class="plColumns1">{{_this.vitalsPatDetail.patient._DoB | date: 'dd-MMM-yyyy'}}</div>
               <div class="plColumns1">{{_this.vitalsPatDetail.patient._personId}}</div>
               <div class="plColumns1">{{_this.vitalsPatDetail.patient._nhsno}}</div>
            </div>
        </span>
    </ion-header-bar>
    <ion-content class="padding">
        <div ng-if="_this.loaded == true">

            <div ng-if="_this.totalScore < 5 && (_this.indScore == 0)" class="vlargeEWSLow1">
                <center>Low</center>
                &nbsp;
                <center>EWS Score</center>
                &nbsp; &nbsp;
                <center>{{_this.totalScore}}</center>
                &nbsp;
            </div>

            <div ng-if="_this.totalScore < 5 && (_this.indScore == 1)" class="vlargeEWSLow2">
                <center>Low</center>
                &nbsp;
                <center>EWS Score</center>
                &nbsp; &nbsp;
                <center>{{_this.totalScore}}</center>
                &nbsp;
            </div>

            <div ng-if="_this.totalScore > 4 && (_this.totalScore < 7) && (_this.indScore == 0)" class="vlargeEWSMed1">
                <center>Medium</center>
                &nbsp;
                <center>EWS Score</center>
                &nbsp; &nbsp;
                <center>{{_this.totalScore}}</center>
                &nbsp;
            </div>

            <div ng-if="_this.totalScore > 4 && (_this.totalScore < 7) && (_this.indScore == 1)" class="vlargeEWSMed2">
                <center>Medium</center>
                &nbsp;
                <center>EWS Score</center>
                &nbsp; &nbsp;
                <center>{{_this.totalScore}}</center>
                &nbsp;
            </div>

            <div ng-if="_this.totalScore > 7" class="vlargeEWS">
                <center>HIGH</center>
                &nbsp;
                <center>EWS Score</center>
                &nbsp; &nbsp;
                <center>{{_this.totalScore}}</center>
                &nbsp;
            </div>

            <button class="button button-full button-positive" ng-click="cancelVitals(_this.vitalsPatDetail.patient._internalId)">Close</button>
        </div>

    </ion-content>
</ion-view>